beautifulsoup4==4.5.3
blinker==1.4
bs4==0.0.1
cssutils==1.0.2
docutils==0.16
feedgenerator==1.9.1
ghp-import==0.5.5
Jinja2==2.11.1
MarkupSafe==1.1.1
pelican==4.2.0
Pillow==9.0.0
pycparser==2.17
Pygments==2.6.1
pysvg-py3==0.2.2.post3
python-dateutil==2.8.1
pytz==2019.3
six==1.14.0
Unidecode==1.1.1
